*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    color: #262526;
}

.carddeck {
    padding: 2em;
}

.hand,
.deck {
    overflow: hidden;
}

.card {
    border: 1px solid #262526;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    width: 120px;
    height: 175px;
    float: left;
    position: relative;
}

.card__rank,
.card__suit {
    display: block;
}

.card--diamonds,
.card--hearts {
    color: #F60A20;
}

.card--spades,
.card--clubs {
    color: #262526;
}

.card::before,
.hearts::before,
.diamonds::before,
.spades::before,
.clubs::before {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 35px;
    font-size: 64px;
    width: 50px;
}

.card--spades::before,
.spades::before,
.card--clubs::before,
.clubs::before {
    color: #262526;
}


.card--diamonds::before,
.diamonds::before,
.card--hearts:before,
.hearts::before {
    color: #F60A20;
}

.card--hearts:before,
.hearts::before {
    content: '\2665';
}

.card--diamonds::before,
.diamonds::before {
    content: '\2666';
}

.card--clubs::before,
.clubs::before {
    content: '\2663';
}

.card--spades::before,
.spades::before {
    content: '\2660';
}
